# Python
__pycache__/
*.pyc

*.log
*.pdf
files/river_culture/river_culture_*.jsonl
files/river_culture/river_culture_corpus_report.json

# Virtual environments
.venv/
translation_venv/
*_venv/

# Windows
Thumbs.db
Desktop.ini

# 
live_whisper_analysis_*.csv
