[Unit]
Description=BWM Play Events Runtime
After=local-fs.target
Wants=olad.service
After=olad.service

[Service]
Type=simple

WorkingDirectory=/home/raspi/BWM/translation

ExecStartPre=/bin/bash -c 'echo RUNNING > /run/play_events.state'

Environment=PYTHONUNBUFFERED=1
ExecStart=/home/raspi/BWM/translation/translation_venv/bin/python -u /home/raspi/BWM/translation/play_events.py

ExecStopPost=/bin/bash -c 'echo STOPPED > /run/play_events.state'

TimeoutStopSec=10

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
