[Unit]
Description=BWM Voice Rack
After=local-fs.target

[Service]
Type=simple

WorkingDirectory=/home/raspi/BWMTest/voice_rack_test

ExecStartPre=/bin/bash -c 'echo RUNNING > /run/voice_rack.state'

ExecStart=/home/raspi/BWMTest/voice_rack_test/voice_rack_venv/bin/python /home/raspi/BWMTest/voice_rack_test/voice_rack_test_v0_5.py

ExecStopPost=/bin/bash -c 'echo STOPPED > /run/voice_rack.state'

TimeoutStopSec=10

# IMPORTANT: no auto-restart
Restart=no

[Install]
WantedBy=multi-user.target
